*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Neucha', cursive;
}

.container{
    max-width: 1180px;
    min-width: 480px;
    padding-left: 1%;
    padding-right: 1%;
    margin: auto;
}