input, select{
    outline: none;
    border-radius: 20px;
    border: none;
    background-color: var(--input-bg-color);

    font-family: var(--main-font);
    font-weight: 400;
    font-size: var(--input-font-size);
    color: var(--input-text-color);
    padding-left: 30px;
}

/* Addition form */
.addition__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 55%;
}

.addition__input{
    width: 413px;
    height: 55px;    
}

input:focus,select:focus{
    border: 3px solid var(--input-focus-color);
}

/* Callback form */
.callback__form{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.callback__input{
    width: 496px;
    height: 70px;
    margin-bottom: 20px;
}

.callback__checkbox{
    display: block;
    padding-bottom: 30px;
}

label{
    font-size: 15px;
}