a{
    text-decoration: none;
    color: var(--links-color);
    text-shadow: var(--shadow);
    font-size: var(--links-font-size);
}

a:hover{
    cursor: pointer;
    color: var(--main-links-hover-color);
    transition: var(--transition);
}

.news__card a{
    color: var(--cards-link-color);
    font-size: 18px;
}

.news__card a:hover{
    color: var(--second-link-hover-color);
}

footer a{
    font-size: 20px;
}

footer a:hover{
    color: var(--second-link-hover-color);
}