a{
    text-decoration: none;
    color: var(--links-color);
    text-shadow: var(--links-shadow);
}

a:hover{
    cursor: pointer;
    color: var(--links-hover-color);
    transition: var(--transition);
}