.section__main{
    width: 100%;
    height: 750px;
    background-image: url(../resources/img/girl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main__text{
    padding-top: 165px;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__logo{
    background-image: url(../resources/icon/HappyChild_big.png);
    background-repeat: no-repeat;
    width: 388px;
    height: 99px;
    margin-bottom: 5px;
}

.main__text h1{
    padding-bottom: 15px;
}

.main__text h5{
    padding-bottom: 65px;
}