.section__doctors h2{
    padding-bottom: 22px;
}

.section__doctors h5:nth-child(3){
    padding-bottom: 30px;
}

.doctors__arrows{
    display: flex;
    justify-content: space-between;
}

.doctors__arrows>div{
    width: 40px;
    height: 10px;
    margin-bottom: 22px;
    background-size: contain;
    background-repeat: no-repeat;
}

.arrow_left{
    background-image: url(../resources/icon/arrow_left.svg);
}

.arrow_rigth{
    background-image: url(../resources/icon/arrow_right.svg);
}

/* Cards */
.doctors__card{
    background-color: var(--cards-color);
}