.section__services{
    background-image: url(../resources/img/line.png);
    background-repeat: space;
}

.section__services .wrapper{
    padding-left: 5%;
    padding-right: 5%;
}

.section__services h2{
    display: block;
    margin: auto;
    padding-top: -20pxpx;
}