.section__main{
    width: 100%;
    height: 750px;
    background-image: url(../resources/img/girl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main__text{
    padding-top: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.main__logo{
    background-image: url(../resources/icon/HappyChild_big.png);
    background-repeat: no-repeat;
    width: 388px;
    height: 99px;
}