.section__information{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    color: var(--text-light-color);
}

.information__block{
    max-width: 500px;
    background-color: var(--added-blocks-color);
}

.block__phone{
    margin-left: 10px;
}

.block__shedule{
    margin-right: 10px;
}

.block__icon{
    background-size: contain;
    background-repeat: no-repeat;
}

.block__phone .block__icon{    
    width: 63px;
    height: 63px;
    background-image: url(../resources/icon/phone.svg);    
}

.block__shedule .block__icon{
    width: 70px;
    height: 70px;
    background-image: url(../resources/icon/watch.svg);
}