.section__chief{
    padding-top: 138px;
    padding-bottom: 88px;
}

.chief__foto{
    background-image: url(../resources/img/doctors/chief1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 426px;
    height: 386px;
}

.chief__text{
    width: 50%;
}

.text__lines p{
    font-family: var(--second-font);
    font-size: 50px;
}