.section__information{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    color: var(--text-ligth-color);
}

.information__block{
    max-width: 500px;
    background-color: var(--added-blocks-color);
    padding: 35px 80px;
}

.information__block h2{
    padding: -30px 0 20px 50px;
}

.block__phone{
    border-radius: 30px 30px 0 30px;
}

.block__shedule{
    border-radius: 30px 30px 30px 0;
}

.block__icon{
    background-size: contain;
    background-repeat: no-repeat;
}

.block__phone .block__icon{    
    width: 63px;
    height: 63px;
    background-image: url(../resources/icon/phone.svg);    
}

.block__shedule .block__icon{
    width: 70px;
    height: 70px;
    background-image: url(../resources/icon/watch.svg);
}