.section__contacts h2{
    padding-bottom: 64px;
}

.contacts__info{
    background-color: rgba(253, 199, 241, 0.9);
    box-shadow: var(--shadow);
    padding: 30px 45px;
}

.contacts__info h3{
    padding-bottom: 20px;
}

