.section__services .layout-3-columns{
    justify-content: space-evenly;
}

.section__services h2{
    display: block;
    margin: -60px 0 40px 42%;
}

.services__cards{
    background-image: url(../resources/img/line.svg);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 68px;
}

.services__cards:nth-last-child{
    margin-bottom: 100px;
}

.services__card{
    background-color: var(--cards-color);
    border: 1px solid var(--cards-border-color);
    border-radius: 20px;
    box-shadow: var(--shadow);
    margin-top: -10px;
}

.services__card img{
    border-radius: 20px 20px 0 0;
}

.services__card h4{
    padding: 15px 23px;
}

.services__card:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    cursor: pointer;
}