.section__information{
    margin-top: -10px;
    display: flex;
}

.information__block{
    max-width: 500px;
    background-color: var(--added-blocks-color);
}

.block__icon{
    width: 63px;
    height: 63px;
}

.block__phone .block__icon{
    background-image: url(../resources/icon/phone.svg);
    background-repeat: no-repeat;
}