.section__news{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section__news h2{
    margin: 30px auto;
}

.news__cards{
    background-image: url(../resources/img/line.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 36px;
    padding: 16px 20px;
}

.news__card .news-card__info{
    flex-basis: 75%;
}