.section__services .layout-3-columns{
    justify-content: space-evenly;
}

.section__services h2{
    display: block;
    margin: -60px 0 20px 40%;
}

.services__cards{
    background-image: url(../resources/img/line.png);
    box-shadow: var(--shadow);
    border-radius: 30px;
    margin-bottom: 22px;
}