.section__information{
    margin-top: -10px;
    display: flex;
}

.information__block{
    background-color: var(--added-blocks-color);
}

.block__icon{
    width: 63px;
    height: 63px;
}

.block__phone .block__icon{

}