.section__chief{
    padding-top: 138px;
    padding-bottom: 88px;
}

.chief__foto{
    background-image: url(../resources/img/doctors/chief1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 426px;
    height: 386px;
}

.chief__text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text__lines{
    padding-bottom: 30px;
    padding-top: 30px;
}

.text__lines p{
    font-family: var(--second-font);
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 52px;
}