:root{
    /* fonts */
    --main-font: 'Neucha', Arial, cursive;

    /* font sizes */
    --link-font-size: 2.5rem;

    /* colors */
    --header-color: rgba(35, 164, 201, 0.9);
    --links-color:  #FFFFFF;
    --links-shadow: ;
    --links-hover-color: ;
}