:root{
    /* fonts */
    --main-font: 'Neucha', Arial, cursive;

    /* font sizes */
    --link-font-size: 2.5rem;

    /* colors */
    --header-color: rgba(35, 164, 201, 0.9);
    --links-color:  #FFFFFF;
    --links-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --links-hover-color: #12306A;

    /* transition */
    --transition: all .3s ease-out;
}