:root{
    /* fonts */
    --main-font: 'Neucha', Arial, cursive;
    --second-font:'Coustard', Arial;


    /* font sizes */    
    --h1-font-size: 45px;
    --h2-font-size: 40px;
    --h3-font-size: 35px;
    --h4-font-size: 30px;
    --h5-font-size: 25px;
    --h6-font-size: 20px;

    --links-font-size: 25px;
    --buttons-font-size: 30px;
    --input-font-size: 20px;


    /* colors */
    --header-color: rgba(35, 164, 201, 0.9);   
    --added-blocks-color: #14243D;
    --cards-color: white;
    --cards-border-color:#CECECE;
    --footer-color: #14243D;

    --main-links-color:  #FFFFFF;
    --main-links-hover-color: #12306A;
    --second-link-color: #12306A;
    --second-link-hover-color:#AB106F;

    --text-dark-color:#12306A;
    --text-ligth-color:#FFFFFF;

    --buttons-text-color: #FFFFFF;
    --accented-button-color: hsl(313, 94%, 45%);
    --standart-button-color:rgba(35, 164, 201);

    --input-bg-color: #F0F0F0;
    --input-text-color:#5B5B5B;
    --input-focus-color: rgba(35, 164, 201);


    /* other */
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --transition: all .3s ease-out;
}