:root{
    /* fonts */
    --main-font: 'Neucha', Arial, cursive;

    /* font sizes */    
    --h1-font-size: 45px;
    --h2-font-size: 40px;
    --h3-font-size: 35px;
    --h5-font-size: 20px;
    --links-font-size: 25px;
    --buttons-font-size: 30px;

    /* colors */
    --header-color: rgba(35, 164, 201, 0.9);    
    --links-color:  #FFFFFF;
    --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --links-hover-color: #12306A;
    --selected-link-color: #12306A;
    --text-dark-color:#12306A;
    --text-ligth-color:#FFFFFF;
    --buttons-text-color: #FFFFFF;
    --accented-button-color: hsl(313, 94%, 45%);
    --added-blocks-color: #14243D;

    /* transition */
    --transition: all .3s ease-out;
}