*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--main-font);
    color: var(--text-dark-color);
}

.wrapper{
    max-width: 1180px;
    min-width: 480px;
    padding: 0 1%;
    margin: auto;
}

.divider{
    width: 100%;
}